* {
  margin: 0;
  padding: 0;
}
input {
  text-align: left;
}
ul,
li {
  list-style: none;
}
.app > a {
  width: 1.06666667rem;
  height: 0.4rem;
  font-size: 0.32rem;
  color: #37afff;
  display: inline-block;
  text-align: center;
  line-height: 0.4rem;
}
.products a {
  height: 0.4rem;
  font-size: 0.32rem;
  color: #37afff;
  display: inline-block;
  line-height: 0.4rem;
}
.order a {
  height: 0.4rem;
  font-size: 0.32rem;
  color: #37afff;
  display: inline-block;
  text-align: center;
  line-height: 0.4rem;
}
