@rem:75rem;
*{
    margin: 0;
    padding: 0;
}
input{
    text-align: left;
}
ul,li{
    list-style: none;
}
.app>a{
    width: 80/@rem;
    height: 30/@rem;
    font-size: 24/@rem;
    color: rgb(55, 175, 255);
    display: inline-block;
    text-align: center;
    line-height: 30/@rem;
}
.products a{
        height: 30/@rem;
        font-size: 24/@rem;
        color: rgb(55, 175, 255);
        display: inline-block;
        line-height: 30/@rem;
}
.order a{
    height: 30/@rem;
    font-size: 24/@rem;
    color: rgb(55, 175, 255);
    display: inline-block;
    text-align: center;
    line-height: 30/@rem;
}
button{
    width: 80/@rem;
    height: 30/@rem;
    font-size: 22/@rem;
    background: #ddd;
    box-sizing: content-box;
    border: 1px solid #333;
    border-radius: 5/@rem;
    margin-left: 20/@rem;
}
ul,h3,p{
    padding-left: 20/@rem;
}
h3{
    font-size: 28/@rem; 
}
p{
    font-size: 24/@rem;
}
