@rem:75rem;
*{
    margin: 0;
    padding: 0;
}
input{
    text-align: left;
}
ul,li{
    list-style: none;
}
.app>a{
    width: 80/@rem;
    height: 30/@rem;
    font-size: 24/@rem;
    color: rgb(55, 175, 255);
    display: inline-block;
    text-align: center;
    line-height: 30/@rem;
}
.products a{
        height: 30/@rem;
        font-size: 24/@rem;
        color: rgb(55, 175, 255);
        display: inline-block;
        line-height: 30/@rem;
}
.order a{
    height: 30/@rem;
    font-size: 24/@rem;
    color: rgb(55, 175, 255);
    display: inline-block;
    text-align: center;
    line-height: 30/@rem;
}
